@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../public/styles/fonts.scss');

[data-theme="light"] {
  --accent-color: #f3ed2b;
  --text-color: black;
  --border-color: #575757;
  --base-background-color: #fff;
  --error-color: #c33;
}

* {
  font-family: 'PT Sans';
  color: var(--text-color);
  background-color: var(--base-background-color);
}
